{% extends "dashboard/base.html" %}

{% load static %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h4 class="card-title">{{title}}</h4>
      </div>
      <div class="card-body ">
        <form method="POST" class="form-horizontal">
            {% csrf_token %}
          <div class="row">
            <label class="col-md-3 col-form-label">Kategori</label>
            <div class="col-md-9">
              <div class="form-group">
                <input type="text" name="nama_kategori" class="form-control" value="{{kategori}}" required>
              </div>
            </div>
          </div>
          <div class="card-footer text-right">
            <div class="row">
              <label class="col-md-3"></label>
              <div class="col-md-9">
                <button type="submit" class="btn btn-info btn-round">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}