{% extends "halaman/base.html" %}

{% load static %}

{% block content %}

<div class="card card-body shadow-xl mx-3 mx-md-4 mt-7">
  <div class="container">
    <div class="row mt-sm-0 mt-5">
      <!-- Bagian Email -->
      <div class="col-lg-3 col-md-4 position-relative ms-lg-auto">
        <div class="p-3 text-center border-right-after">
          <i class="material-icons text-gradient text-primary text-5xl mb-3">email</i>
          <h6 class="mb-0">Email</h6>
          <p class="text-dark font-weight-normal">2211102441046@umkt.ac.id </p>
          <p class="text-muted">Kami siap menjawab pertanyaan Anda kapan saja.</p>
        </div>
      </div>
      <!-- Bagian Telepon -->
      <div class="col-lg-3 col-md-4 position-relative">
        <div class="p-3 text-center border-right-after">
          <i class="material-icons text-gradient text-primary text-5xl mb-3">call</i>
          <h6 class="mb-0">Telepon</h6>
          <p class="text-dark font-weight-normal">+6282154862453</p>
          <p class="text-muted">Hubungi kami untuk layanan cepat dan tanggap.</p>
        </div>
      </div>
      <!-- Bagian Kontak -->
      <div class="col-lg-3 col-md-4 me-lg-auto">
        <div class="p-3 text-center">
          <i class="material-icons text-gradient text-primary text-5xl mb-3">contacts</i>
          <h6 class="mb-0">Kontak</h6>
          <p class="text-dark font-weight-normal">Nudziya Salma Fauziah</p>
          <p class="text-muted">Manajer Layanan Pelanggan</p>
        </div>
      </div>
    </div>
    <!-- Bagian Alamat dan Media Sosial -->
    <div class="row mt-5">
      <!-- Bagian Alamat -->
      <div class="col-lg-6 text-center">
        <div class="p-3">
          <i class="material-icons text-gradient text-primary text-5xl mb-3">location_on</i>
          <h6 class="mb-0">Alamat Kami</h6>
          <p class="text-dark font-weight-normal">Jl. Ir. H. Juanda No.15, Sidodadi, Kec. Samarinda Ulu, Kota Samarinda, Kalimantan Timur 75124</p>
          <p class="text-muted">Kunjungi kantor kami untuk informasi lebih lanjut.</p>
        </div>
      </div>
      <!-- Bagian Media Sosial -->
      <div class="col-lg-6 text-center">
        <div class="p-3">
          <i class="material-icons text-gradient text-primary text-5xl mb-3">share</i>
          <h6 class="mb-0">Ikuti Kami</h6>
          <p class="text-dark font-weight-normal">
            <a href="https://facebook.com" class="text-primary mx-2">Facebook</a> |
            <a href="https://twitter.com" class="text-primary mx-2">Twitter</a> |
            <a href="https://instagram.com" class="text-primary mx-2">Instagram</a>
          </p>
          <p class="text-muted">Tetap terhubung dengan kami di media sosial.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
